body {
    text-align: center;
    
}

.line {
    text-decoration: line-through;
}

.noline {
    text-decoration: none;
}

.button {
    float: right;
}

.list-container {
    display: flex;
    justify-content: center;
}

#list {
    width: 30%;
}

.list-item {
    list-style-type: none;
    text-align: left;
    height: 40px;
    display: flex;
}

.item-text {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    font-size: 30px;
}

#trash-icon {
    margin-top: auto;
    margin-bottom: auto;
    height: 25px;
}